<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="lock-screen-cordova-plugin"
    version="1.0">
    <name>Screen</name>
    <description>LockScreenLoggerCDVPlugin</description>
    <license>MIT</license>
    <keywords>lock screen,cordova,iOS</keywords>

    <js-module src="www/Screen.js" name="Screen">
        <runs />
    </js-module>

    <engines>
        <engine name="cordova" version=">=6.4.0" />
        <engine name="cordova-ios" version=">=4.3.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Screen">
                <param name="ios-package" value="Screen"/>
            </feature>
        </config-file>

        <header-file src="src/ios/Screen.h" />
        <source-file src="src/ios/Screen.m" />
    </platform>

</plugin>
